
<div class="container">
  <span *ngIf="!hasWallet">No Wallet Installed Install <a href="https://metamask.io/">MetaMask</a> to continue</span>
  <button class="btn-primary" *ngIf="hasWallet && !walletConnected" (click)='onClickConnect()'>Connect Wallet</button>
  <span *ngIf="hasWallet && walletConnected">Ready to rock</span>
</div>
<div class="container">
  <input [(ngModel)]="watchAddress"><button class="btn-primary" (click)="onWatchClick()">Watch</button>
  Notify Me <input type="checkbox" [(ngModel)]="notifyMe">
  <ul>
    <li *ngFor="let address of watchAddresses" (click)="onWatchAddressClick(address)" class="watch-address">{{address}}</li>
  </ul>
  <div class="logBox">
    <button class="btn-primary" (click)="onClearLogClick();">Clear Log</button>
    <pre *ngFor="let log of watchLog">{{log | json}}</pre>
  </div>
</div>